* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player {
    background: #111;
    color: #fff;
    width: 320px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.player h1 {
    margin-bottom: 20px;
    font-size: 24px;
}
.song-info {
    margin-bottom: 20px;
}

.song-info .title {
    font-size: 18px;
    font-weight: bold;
}

.song-info .artist {
    font-size: 14px;
    color: #aaa;
}

audio {
    width: 100%;
    outline: none;
    border-radius: 10px;
}
